<!-- Footer-widgets -->
<div class="footer-widgets">
  <h1 class="newsletter-title">Don't Miss My Next Blog Post!</h1>
		<span class="newsletter-description">Drop your email in the box below and have it delivered straight to your inbox.</span>
		 <form action="https://app.convertkit.com/forms/1764442/subscriptions" method="post">
<input type="email" id="drip-email" name="email_address" value="" placeholder="Enter your email...">
<button type="submit">SUBMIT</button>
</form>

</div> 

<!-- Footer -->
<footer class="site-info">
  <p id="footer-text">
    <span><%- config.title %> &copy; <%= (new Date()).getFullYear() %></span>
    <% if(config.footer !== null) { %>
      <span class="split">|</span>
      <span><%- config.footer || theme.footer %></span>
    <% } %>
  </p>
</footer>

