<!-- Footer-widgets -->
<div class="footer-widgets">
  <h1 class="newsletter-title">Subscribe To My Free Newsletter</h1>
		<span class="newsletter-description">Get business & marketing tips for the 21st century.</span>
		<form>
  <input type="email" name="email" placeholder="Enter your email..."> 
  <button type="submit">Send</button>
</form>
<!-- old button CTA 
		<form onclick="ga('send', 'event', 'Button', 'Click', 'CTA Click');" action="https://www.getdrip.com/forms/373331008/submissions/new" target="_blank">
		<button id="main-button">Sign Up</button>
		</form> 
-->
</div>
<!-- Footer -->
<footer class="site-info">
  <p id="footer-text">
    <span><%- config.title %> &copy; <%= (new Date()).getFullYear() %></span>
    <% if(config.footer !== null) { %>
      <span class="split">|</span>
      <span><%- config.footer || theme.footer %></span>
    <% } %>
  </p>
</footer>
<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '3578292';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/3578292.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
<!-- end Drip -->
