<!-- Footer-widgets -->
<div class="footer-widgets">
  <h1 class="newsletter-title">Subscribe To My Blog</h1>
		<span class="newsletter-description">Get new content sent directly to your email inbox!</span>
		<form action="https://www.getdrip.com/forms/373331008/submissions" method="post" data-drip-embedded-form="373331008">
  <input type="email" id="drip-email" name="fields[email]" value="" placeholder="Enter your email..."/> 
  <button type="submit" data-drip-attribute="sign-up-button">SUBMIT</button>
</form>
<!--  Old Sign Up Button 
		<form onclick="ga('send', 'event', 'Button', 'Click', 'CTA Click');" action="https://www.getdrip.com/forms/373331008/submissions/new" target="_blank">
		<button id="main-button">Sign Up</button>
		</form> -->

</div> 

<!-- Footer -->
<footer class="site-info">
  <p id="footer-text">
    <span><%- config.title %> &copy; <%= (new Date()).getFullYear() %></span>
    <% if(config.footer !== null) { %>
      <span class="split">|</span>
      <span><%- config.footer || theme.footer %></span>
    <% } %>
  </p>
</footer>

