<!-- Footer-widgets -->
<div class="footer-widgets">
  <h1 class="newsletter-title">You Need A Website That Converts!</h1>
		<span class="newsletter-description">Click below to get instant access to <strong>Clear Conversions.</strong></span>
		<!--  Old Sign Up Form <form action="https://www.getdrip.com/forms/373331008/submissions" method="post" data-drip-embedded-form="373331008">
  <input type="email" id="drip-email" name="fields[email]" value="" placeholder="Enter your email..."/> 
  <button type="submit" data-drip-attribute="sign-up-button">SUBMIT</button>
</form> -->
 
		<form onclick="gtag('event', 'click', {'event_category': 'CTA Click'});" action="https://stevelongoria.net/guides/clear-conversions" target="_blank">
		<button id="main-button">Read Online</button>
		</form> 

</div> 

<!-- Footer -->
<footer class="site-info">
  <p id="footer-text">
    <span><%- config.title %> &copy; <%= (new Date()).getFullYear() %></span>
    <% if(config.footer !== null) { %>
      <span class="split">|</span>
      <span><%- config.footer || theme.footer %></span>
    <% } %>
  </p>
</footer>

