@import './normalize';
@import './variables';
@import './daily';
@import './nav';
@import './post';
@import './highlight';
@import './archive';
@import './comment';

@import './mobile';

@font-face {
    font-family: 'kollektifregular';
    src: url('kollektif-webfont.woff2') format('woff2'),
         url('kollektif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Main Newsletter CTA Button */
#main-button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    margin-top: 15px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: transparent;	
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

#main-button:focus, #main-button:hover, button:focus, button:hover, input[type=button]:focus, input[type=button]:hover, input[type=reset]:focus, input[type=reset]:hover, input[type=submit]:focus, input[type=submit]:hover {
    color: #fff;
    border-color: #ffda24;
    outline: 0;
    background-color: #ffda24;
}




.newsletter-title {
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 6px;
}

.newsletter-description {
	font-size: 14px;
	color: #ffffff;
}

#footer-text {
	text-align: center;
}

/* Newsletter Optin Form */

input, button {
  font: inherit;
  border: 0;
  &:focus {
    outline: none;
  }
}

form {
  display: flex; 
  grid-column: 2;
  justify-content: center;
  margin: 10px 0 0 0;
}

input {
	-webkit-appearance: none; 
	-webkit-border-radius: 0;
  padding: 0.5em 0.75em;
  width: 200px;
}

button {
  padding: 0.5em 0.75em;
  color: #ffffff;
  background-color: #00667f; 
  width: 70px;
  &:hover {
  	background-color: #4dc4ce
  }
}

/* Video Styles */
.video iframe {
	width: 100%;
	min-height: 150px;
	@media (min-width: 800px) {
		min-height: 300px;
	}
}

@media screen and (max-width: 799px) {
  .content-area {
  padding-top: 0px;
  }
}
